.logo {
  width: 110px;
  padding: 24px 32px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-list li {
  margin-right: 45px;
  flex-grow: 1;
  font-size: 14px;
}

.member-registration {
  text-decoration: none;
}

.body-top {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #2b546a;
  margin-top: 50px;
}

.body-top__under {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-top__under p {
}

.body-top__under__number {
  font-weight: bold;
  font-size: 15px;
  color: #2b546a;
  letter-spacing: 0.03em;
}

.body-top__under__color__user {
  color: #8491a5;
  margin-right: 20px;
  margin-left: 3px;
  font-size: 16px;
  font-size: small;
  font-weight: bold;
}

.body-top__under__color__country {
  color: #8491a5;
  font-size: 16px;
  font-weight: bold;
  font-size: small;
  margin-right: 3px;
}

.start-link {
  text-align: center;
  display: block;
  text-decoration: none;
}

.btn {
  color: white;
  border: none;
  background-color: rgb(48, 200, 214);
}

.member-btn {
  padding: 10px 15px;
  border-radius: 5px;
}

.start-btn {
  padding: 15px 50px;
  border-radius: 5px;
}

.link {
  color: white;
  font-weight: bold;
}
