.logo {
  width: 110px;
  padding: 24px 32px;
}

.person-logo {
  margin-right: 8px;
}

.country-logo {
  margin-right: 8px;
}

.header {
  background-color: white;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 5px; */
  padding-top: 5px;
}

.header-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-right: 45px; */
}

.header-list li {
  margin-right: 41px;
  flex-grow: 1;
  font-size: 14px;
}

.header-link {
  text-decoration: none;
  color: #2b546a;
}

.header-link:hover {
  transition: 0.3s;
  background-color: rgba(248, 246, 246, 0.8);
  padding-top: 20px;
  padding-bottom: 20px;
  /* padding: 20px auto; */
  width: 70px;
  display: block;
  text-align: center;
  /* overflow: hidden; */
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* background-color: #000066; リンクにマウスが乗ったら背景色を変更する */

  /* line-height: 100px; */
}

/* .header-list:hover {
  background-color: #000066; リンクにマウスが乗ったら背景色を変更する
} */

.member-registration {
  text-decoration: none;
}

.body-top {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #2b546a;
  /* margin-top: 50px; */
  padding-top: 135px;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}

.body-top__under {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 50px;
}

.body-top__under__number {
  font-weight: bold;
  font-size: 15px;
  color: #2b546a;
  letter-spacing: 0.03em;
  font-family: sans-serif;
}

.body-top__under__color__user {
  color: #8491a5;
  margin-right: 20px;
  margin-left: 3px;
  font-size: 16px;
  font-size: small;
  font-weight: bold;
}

.body-top__under__color__country {
  color: #8491a5;
  font-size: 16px;
  font-weight: bold;
  font-size: small;
  margin-right: 3px;
}

.start-link {
  text-align: center;
  display: block;
  text-decoration: none;
}

.btn {
  color: white;
  border: none;
  background-color: rgb(48, 200, 214);
}

.member-btn {
  padding: 10px 15px;
  border-radius: 5px;
}

.start-btn {
  padding: 13px 53px;
  border-radius: 5px;
}

.link {
  color: white;
  font-weight: bold;
}

.top-image {
  margin-top: 60px;
}

.body-top-second {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #2b546a;
  margin: 80px 0;
  letter-spacing: 0.03em;
}

.slide-image-class {
  text-align: center;
}

.slide-image {
  width: 1000px;
  /* height: 373px; */
}

.slide-hello {
  margin-top: 88px;
}

.body-top-third {
  text-align: center;
  font-size: 32px;
  /* font-size: 2rem; */
  font-weight: bold;
  color: #2b546a;
  margin-top: 40px;
  margin-bottom: 16px;
  letter-spacing: 0.03em;
  line-height: 1.7142857143;
}

.body-top-third__under {
  font-size: 1rem;
  text-align: center;
  color: #8491a5;
  line-height: 2;
}

.body-lesson {
  background-color: #f0f4f9;
  height: 417px;
  width: 903px;
}
